<header>Observables in Angular</header>
<main>
  <span class="bold">HttpClient</span>
  <ul>
    <li>http.get('/feed')</li>
    <li>http.post('/tweet', data)</li>
  </ul>

  <span class="bold">Router</span>
  <ul>
    <li>router.events</li>
  </ul>

  <span class="bold">ActivatedRoute</span>
  <ul>
    <li>activatedRoute.url</li>
    <li>activatedRoute.queryParams</li>
  </ul>

  <span class="bold">Output/EventEmitter</span>
  <ul>
    <li>@Output() closed = new EventEmitter();</li>
  </ul>
</main>
