<header>Reactive Programming</header>
<main>
  <div class="header">Reactive programming is programming with asynchronous data streams.</div>
  <div class="content">
    <ul>
      <li>Mouse click or Mouse hover events with x & y positions</li>
      <li>Keyboard events like keyup, keydown, keypress, etc</li>
      <li>Form events like value changes etc</li>
      <li>Data which arrives after an HTTP request</li>
      <li>User Notifications</li>
      <li>Measurements from any sensor</li>
    </ul>
    <img src="/assets/images/everything_is_a_stream.png" />
  </div>
</main>
