$table-border-radius: 5px;

header {
  display: flex;
  justify-content: space-between;

  input {
    font-size: 0.5em;
    padding: 0 10px;
  }
}

.table {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: $table-border-radius;
}

.row {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  background-color: rgba($color: lightblue, $alpha: 0.1);

  &:nth-child(even) {
    background-color: rgba($color: lightgray, $alpha: 0.1);
  }

  &.header {
    background-color: gray;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: $table-border-radius $table-border-radius 0 0;

    .sorted {
      font-weight: 400;
    }
  }

  & > div {
    padding: 5px 10px;
  }
}

.filters {
  display: flex;
  justify-content: flex-end;
  margin: 15px 0;
}

.pointer {
  cursor: pointer;
}

mat-spinner {
  margin: 50px auto;
}
