<header>
  <span>TV Shows</span>
  <input [ngModel]="searchText$ | async" (ngModelChange)="onSearchInput($event)" placeholder="search" />
</header>

<main>
  <div class="table" [style.--columns]="headers.length">
    <div class="row header">
      <div *ngFor="let header of headers" (click)="onSort(header)" [class.sorted]="header === (sortingProperty$ | async)">{{ header }}</div>
    </div>
    <ng-container *ngIf="!(isLoading$ | async) && (shows$ | async) as shows; else loader">
      <div *ngFor="let show of shows" class="row">
        <div>{{ show.title }}</div>
        <div class="pointer" (click)="onYearSelect(show.year)">{{ show.year }}</div>
        <div class="pointer" (click)="onNetworkSelect(show.network)">{{ show.network }}</div>
        <div>{{ show.status }}</div>
        <div>{{ show.rating | number: '0.1-1' }}</div>
      </div>
    </ng-container>
  </div>

  <div class="filters">
    <span class="pointer" (click)="onResetFilters()">reset filters</span>
  </div>
</main>

<ng-template #loader>
  <mat-spinner></mat-spinner>
</ng-template>
