<header>Unsubscribe</header>
<main>
  <mat-tab-group>
    <mat-tab label="Why?">
      <div class="tab flex-center">
        <img src="/assets/images/unsubscribe-why.png" />
      </div>
    </mat-tab>

    <mat-tab label="Memory leak">
      <div class="tab">
        <pre><code [highlight]="leakCode"></code></pre>
        <img src="/assets/images/memory-leak.png" />
      </div>
    </mat-tab>

    <mat-tab label="How?">
      <div class="tab">
        <pre><code [highlight]="howCode"></code></pre>
        <p class="bold">It's better to call extra unneeded unsubscribe than not to call a needed one.</p>
      </div>
    </mat-tab>

    <mat-tab label="Async pipe">
      <div class="tab">
        <p>
          The <a href="https://angular.io/guide/observables-in-angular#async-pipe" target="_blank">AsyncPipe</a> subscribes to an observable
          or promise and returns the latest value it has emitted. When a new value is emitted, the pipe marks the component to be checked
          for changes.
        </p>
        <pre><code [highlight]="ngFor"></code></pre>
        <pre><code [highlight]="ngIf"></code></pre>
      </div>
    </mat-tab>

    <mat-tab label="Async pipe example">
      <div class="flex tab">
        <pre><code [highlight]="asyncCode"></code></pre>
        <img src="/assets/images/unsubscribe-how.png" style="margin-left: 1em" />
      </div>
    </mat-tab>
  </mat-tab-group>
</main>
